__pycache__/
*.pyc
*.bin
log.txt
config.txt
# VSCode
.vscode
useful_tools/GalTransl_DumpInjector/config.ini
useful_tools/GalTransl_DumpInjector/VNTextPatch/names.xml
*.log
venv*/
project/
python_embeded/
*.gguf
faster-whisper*/
build/
dist/
uvr/
whisper-faster/whisper-faster.exe
*.dll
*.exe
temp_model/
whisper.cpp/