__pycache__/
desktop/
*.pyc
*.bin
log.txt
config.txt
.env
settings.yaml
gui_settings.yaml
# VSCode
.vscode
useful_tools/GalTransl_DumpInjector/config.ini
useful_tools/GalTransl_DumpInjector/VNTextPatch/names.xml
*.log
venv*/
project/
python_embeded/
*.gguf
faster-whisper*/
build/
dist/
translate/
whisper-faster/whisper-faster.exe
*.dll
*.exe
# Python venv
.venv
.cache/
models/
runtime/
*.wav
*.mp3
*.mp4
*.voicetransl/
# Faster Whisper XXL
_xxl_data
project/config.yaml
# Tests
Tests
GalTransl/
files/
